.site-footer {
  font-size: 80%;

  h2 {
    font-size: 120%;
  }

  .nav-link{
    color: rgba(0,0,0,1);
    padding: {
      top: 0;
      bottom: 10px;
    };
  }

  .bg-dark {
    background-color: #c9c9ca !important;
  }

}