.site-header{


  #nav-site ul ul{font-size:100%;}

  #nav-site li{padding:.3em .5em;}
  #nav-site a{padding:.3em 1em;}
  #nav-site{clear:both;overflow:hidden;}

  #nav-site, #nav-site .max-width {
    overflow: visible;
  }

  #nav-site .primary-nav {
    background: #4c4c4e none repeat scroll 0 0;
    padding: 5px 0;
  }

  #nav h2 {
    left: -9999px;
    position: absolute;
    width: 990px;
  }
  #nav::after, #nav .max-width::after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
  }
  #nav {
    clear: both;
    color: #ffffff;
    /*padding: 0.3em 0.7em 0;*/
    text-align: center;
  }
  #nav, #nav .max-width {
    overflow: visible;
  }
  #nav .max-width {
    text-align: left;
  }
  #nav ul ul li {
    clear: left;
    display: block;
    float: left;
  }
  #nav ul ul li a {
    display: block;
    float: none;
  }
  #nav ul {
    font-size: 86%;
    font-weight: normal !important;
    list-style-position: outside;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  #nav ul li {
  }
  #nav ul li {
    position: relative;
  }
  #nav li {
    display: block!important;
    float: left;
  }
  #nav a {
    display: block;
    padding: 0.3em 1em;
    white-space: nowrap;
  }
  #nav ul li ul {
    left: -999999px;
    top: 2.1em;
  }


  #nav ul li ul {
    position: absolute;
    top: -999999px;
    z-index: 10;
  }
  #nav ul ul {
    background: #4c4c4e none repeat scroll 0 0;
    color: #ffffff;
    font-size: 100%;
    /*margin-left: -5px;*/
    margin-left: -7px;
  }

  #nav ul li ul li a:link {
    font-weight: normal;
  }
  #nav a, #nav a:link, #nav a:visited {
    color: #ffffff;
  }
  #nav a:hover, #nav ul li:hover > a {
    color: #ea7523;
    text-decoration: underline;
  }
  #nav ul ul a:hover {
    background-color: #ea7523;
    color: #ffffff;
    text-decoration: underline;
  }

  #nav li a.open {
    position: relative;
    z-index: 3;
  }
  #nav ul li:hover > a, #nav ul li:hover ul, #nav a:hover {
    display: block;
    left: 0.5em;
    top: 2.5em;
  }

  .bg-dark-nav {
    background-color: #4c4c4e !important;
  }

  /* responsive primary nav */

  .navbar-light ul li{
    background:#dddbdd;
    display: block!important;
    min-width:100%;
    margin-bottom:.4em;
    list-style-type: none;
    font-weight: 700 !important;
  }

  .navbar-light ul li:last-child{
    margin-bottom:0;
  }


  .navbar-light ul li a{
    padding-left:20px;
    color:#000;
  }

  .navbar-light ul li a:hover{
    background:#7ab800;
  }

  .navbar-light ul li a:active{
    background:#ea7523;
  }

  ul.menu-nav  {
    padding:.4em 0;
  }

  .navbar-light ul li ul li{
    background:#ccc;
    display: inline;
    margin-bottom:0;
    flex-wrap: wrap!important;
    font-weight: normal!important;
  }


  .navbar-light ul li ul.small{
    font-size:100%!important;

  }

  ul.nav-child{
    margin:0;
    padding:0;
  }


  .navbar-light ul li.parent a{
    display:block;
    padding:1em;
  }


  .nav {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none; }

  .nav-link {
    display: block;
    padding: 1rem 1.25rem;
    text-decoration: none; }
  .nav-link:focus, .nav-link:hover {
    text-decoration: underline; }

  @media (min-width: 768px) {
    .nav-expand-md .nav-collapse {
      display: -webkit-flex !important;
      display: -ms-flexbox !important;
      display: flex !important; }
    .nav-expand-md .nav-toggler {
      display: none; } }

  .nav-footer {
    position: relative; }
  .nav-footer .nav-item:first-child button {
    position: relative; }
  .nav-footer .nav-item:first-child button::before {
    position: absolute;
    top: -1rem;
    left: 0;
    display: block;
    content: '';
    width: 1px;
    height: 1rem;
    background-color: rgba(0, 0, 0, 0.2); }
  .nav-footer .nav-item:last-child button {
    position: relative; }
  .nav-footer .nav-item:last-child button::before {
    position: absolute;
    bottom: -1rem;
    left: 0;
    display: block;
    content: '';
    width: 1px;
    height: 1rem;
    background-color: rgba(0, 0, 0, 0.2); }
  .nav-footer .nav-item:last-child button[aria-expanded=true]::before {
    display: none; }
  .nav-footer .nav-item .nav-toggler {
    background-color: transparent;
    width: 60px;
    border: 0;
    padding: 0; }
  .nav-footer .nav-item .nav-toggler::after {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    content: '';
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 15' width='9' height='15' fill='rgb%280%2C0%2C0%29'%3E%3Ctitle%3Echevron-right%3C/title%3E%3Cg data-name='Layer 2'%3E%3Cg data-name='Layer 1'%3E%3Cg data-name='FOOTER UI'%3E%3Cpath d='M1.68 0L0 1.77 5.43 7.5 0 13.23 1.68 15l7.1-7.5L1.68 0z' data-name='ic_chevron_right(reversed)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 1rem;
    padding: 20px 25px; }
  .nav-footer .nav-item .nav-toggler[aria-expanded=true]::after {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 9' width='15' height='9' fill='rgb%280%2C0%2C0%29'%3E%3Ctitle%3Echevron-down%3C/title%3E%3Cg data-name='Layer 2'%3E%3Cg data-name='Layer 1'%3E%3Cg data-name='Layer 2'%3E%3Cg data-name='Layer 1-2'%3E%3Cg data-name='FOOTER UI'%3E%3Cpath d='M15 1.68L13.23 0 7.5 5.43 1.77 0 0 1.68l7.5 7.1 7.5-7.1z' data-name='ic chevron right reversed'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem auto; }
  @media (max-width: 767px) {
    .nav-footer .nav-item .nav-collapse {
      background-color: rgba(0, 0, 0, 0.1); } }
  .nav-footer .nav-item .nav-collapse .nav .nav-item .nav-link {
    font-size: 0.75rem;
    color: #000;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem; }
  @media (max-width: 767px) {
    .nav-footer .nav-item .nav-collapse .nav .nav-item .nav-link {
      font-size: 0.875rem; } }

  .nav-dark .nav-item .nav-link {
    color: #222; }
  .nav-dark .nav-item .nav-link:focus, .nav-dark .nav-item .nav-link:hover {
    color: #222; }
  .nav-dark .nav-item .nav-link .show > .nav-link,
  .nav-dark .nav-item .nav-link .active > .nav-link,
  .nav-dark .nav-item .nav-link .nav-link.show,
  .nav-dark .nav-item .nav-link .nav-link.active {
    color: #222; }

  .nav-expand {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .nav-expand .nav-item:not(.nav-expand) > .nav-link {
    padding-right: 4.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .nav-expand .nav-link {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  .nav-expand .nav-link:focus, .nav-expand .nav-link:hover {
    background-color: #79BA00; }
  .nav-expand .nav-link:focus + .nav-toggler, .nav-expand .nav-link:hover + .nav-toggler {
    background-color: #79BA00; }
  .nav-expand > .nav-toggler {
    background-color: transparent;
    border: 0;
    padding: 0 1.75rem; }
  .nav-expand > .nav-toggler[data-toggle=collapse] {
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9 15' width='9' height='15' fill='rgb%280%2C0%2C0%29'%3E%3Ctitle%3Echevron-right%3C/title%3E%3Cg data-name='Layer 2'%3E%3Cg data-name='Layer 1'%3E%3Cg data-name='FOOTER UI'%3E%3Cpath d='M1.68 0L0 1.77 5.43 7.5 0 13.23 1.68 15l7.1-7.5L1.68 0z' data-name='ic_chevron_right(reversed)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 1rem; }
  .nav-expand > .nav-toggler[data-toggle=collapse][aria-expanded=true] {
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15 9' width='15' height='9' fill='rgb%280%2C0%2C0%29'%3E%3Ctitle%3Echevron-down%3C/title%3E%3Cg data-name='Layer 2'%3E%3Cg data-name='Layer 1'%3E%3Cg data-name='Layer 2'%3E%3Cg data-name='Layer 1-2'%3E%3Cg data-name='FOOTER UI'%3E%3Cpath d='M15 1.68L13.23 0 7.5 5.43 1.77 0 0 1.68l7.5 7.1 7.5-7.1z' data-name='ic chevron right reversed'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem auto; }
  .nav-expand > .nav-toggler:focus, .nav-expand > .nav-toggler:hover {
    background-color: #79BA00; }
  .nav-expand > .nav-collapse {
    width: 100%; }

  .navbar {
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 0; }

  .navbar-nav {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none; }
  .navbar-nav .nav-item:first-child .nav-link {
    padding-left: 20px; }
  .navbar-nav .dropdown-menu {
    position: static;
    float: none; }

  .navbar-collapse {
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }

  .navbar-toggler {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: transparent;
    border: 0 solid transparent;
    color: #fff; }
  .navbar-toggler:focus, .navbar-toggler:hover {
    text-decoration: none; }

  @media (max-width: 767px) {
    .navbar-expand-md > .container,
    .navbar-expand-md > .container-fluid {
      padding-right: 0;
      padding-left: 0; } }

  @media (min-width: 768px) {
    .navbar-expand-md {
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
      justify-content: flex-start; }
    .navbar-expand-md .navbar-nav {
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; }
    .navbar-expand-md .navbar-nav .dropdown-menu {
      position: absolute; }
    .navbar-expand-md .navbar-nav .dropdown-menu-right {
      right: 0;
      left: auto; }
    .navbar-expand-md .navbar-nav .nav-link {
      padding-right: 0.875rem;
      padding-left: 0.875rem; }
    .navbar-expand-md > .container,
    .navbar-expand-md > .container-fluid {
      -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap; }
    .navbar-expand-md .navbar-collapse {
      display: -webkit-flex !important;
      display: -ms-flexbox !important;
      display: flex !important; }
    .navbar-expand-md .navbar-toggler {
      display: none; } }

  .navbar-light .navbar-nav .nav-link {
    color: #000; }
  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0, 0, 0, 0.7); }
  .navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(0, 0, 0, 0.3); }

  .navbar-light .navbar-nav .show > .nav-link,
  .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .nav-link.active {
    color: rgba(0, 0, 0, 0.9); }

  .navbar-light .navbar-toggler {
    color: #000;
    border-color: rgba(0, 0, 0, 0.1); }

  .navbar-dark .navbar-nav .nav-link {
    color: #4c4c4e;
  }
  .navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #ea7523;
  }
  .navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25); }

  .navbar-dark .navbar-nav .show > .nav-link,
  .navbar-dark .navbar-nav .active > .nav-link,
  .navbar-dark .navbar-nav .nav-link.show,
  .navbar-dark .navbar-nav .nav-link.active {
    color: #79BA00; }

  .navbar-dark .navbar-toggler {
    color: #fff;
    border-color: rgba(255, 255, 255, 0.1); }

  .nav-tier {
    background-color: #f6f6f6; }
  .nav-tier .nav-tier {
    background-color: #dddbdd; }
  .nav-tier .nav-tier .nav-tier {
    background-color: #c5c3c5; }
  .nav-tier .nav-tier .nav-tier .nav-tier {
    background-color: #999995; }
  .nav-tier .nav-tier .nav-tier .nav-tier .nav-tier {
    background-color: #626262; }
  .nav-tier .nav-tier .nav-tier .nav-tier .nav-tier .nav-link {
    color: #fff; }
  .top-0 {
    top: 0; }

  .top-100 {
    top: 100%; }

  .right-0 {
    right: 0; }

  .right-100 {
    right: 100%; }

  .bottom-0 {
    bottom: 0; }

  .bottom-100 {
    bottom: 100%; }

  .left-0 {
    left: 0; }

  .left-100 {
    left: 100%; }
  .form-control {
    display: block;
    width: 100%;
    padding: 0.7rem 1.7rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #c5c3c5;
    border-radius: 0;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }
  .form-control::-ms-expand {
    background-color: transparent;
    border: 0; }
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #baff3b;
    outline: none;
    box-shadow: none;
  }
  .form-control::-webkit-input-placeholder {
    color: #999995;
    opacity: 1; }
  .form-control::-moz-placeholder {
    color: #999995;
    opacity: 1; }
  .form-control:-ms-input-placeholder {
    color: #999995;
    opacity: 1; }
  .form-control::-ms-input-placeholder {
    color: #999995;
    opacity: 1; }
  .form-control::placeholder {
    color: #999995;
    opacity: 1; }
  .form-control:disabled, .form-control[readonly] {
    background-color: #e9ecef;
    opacity: 1; }

  .form-control-xs {
    padding: 0.125rem 0.75rem;
    font-size: 0.6875rem;
    line-height: 1.1818181818;
    height: 19px;
  }

  select.form-control-xs:not([size]):not([multiple]) {
    height: calc(1.0625rem + 2px); }

  .form-inline {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .form-inline .form-check {
    width: 100%; }
  @media (min-width: 576px) {
    .form-inline .form-control {
      display: inline-block;
      width: auto;
      vertical-align: middle; } }

  .btn {
    display: inline-block;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.7rem 1.7rem;
    font-size: 0.75rem;
    line-height: 1.25;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  .btn:focus, .btn:hover {
    text-decoration: none; }
  .btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 3px rgba(121, 186, 0, 0.25); }
  .btn.disabled, .btn:disabled {
    opacity: .65; }
  .btn:active, .btn.active {
    background-image: none; }

  a.btn.disabled,
  fieldset[disabled] a.btn {
    pointer-events: none; }

  .btn-primary {
    color: #fff;
    background-color: #fff;
    border-color: #fff; }
  .btn-primary:hover {
    color: #fff;
    background-color: #ededed;
    border-color: #c5c3c5; }
  .btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 3px rgba(121, 186, 0, 0.5); }
  .btn-primary.disabled, .btn-primary:disabled {
    background-color: #79BA00;
    border-color: #79BA00; }
  .btn-primary:active, .btn-primary.active,
  .show > .btn-primary.dropdown-toggle {
    background-color: #c5c3c5;
    background-image: none;
    border-color: #c5c3c5; }

  .btn-white {
    color: #111;
    background-color: #fff;
    border-color: #fff; }
  .btn-white:hover {
    color: #fff;
    background-color: #ea7523;
    border-color: #ea7523;
  }
  .btn-white:focus, .btn-white.focus {
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5); }
  .btn-white.disabled, .btn-white:disabled {
    background-color: #fff;
    border-color: #fff; }
  .btn-white:active, .btn-white.active,
  .show > .btn-white.dropdown-toggle {
    background-color: #ececec;
    background-image: none;
    border-color: #e6e5e5; }

  .btn-outline-white {
    color: #111;
    background-color: #fff;
    border-color: #000; }
  .btn-outline-white:hover {
    color: #111;
    background-color: #ececec;
    border-color: black; }
  .btn-outline-white:focus, .btn-outline-white.focus {
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.5); }
  .btn-outline-white.disabled, .btn-outline-white:disabled {
    background-color: #fff;
    border-color: #000; }
  .btn-outline-white:active, .btn-outline-white.active,
  .show > .btn-outline-white.dropdown-toggle {
    background-color: #ececec;
    background-image: none;
    border-color: black; }

  .btn-link {
    font-weight: normal;
    color: #0066CC;
    border-radius: 0; }
  .btn-link, .btn-link:active, .btn-link.active, .btn-link:disabled {
    background-color: transparent; }
  .btn-link, .btn-link:focus, .btn-link:active {
    border-color: transparent;
    box-shadow: none; }
  .btn-link:hover {
    border-color: transparent; }
  .btn-link:focus, .btn-link:hover {
    color: #004080;
    text-decoration: underline;
    background-color: transparent; }
  .btn-link:disabled {
    color: #999995; }
  .btn-link:disabled:focus, .btn-link:disabled:hover {
    text-decoration: none; }

  .btn-xs {
    padding: 0.125rem 0.75rem;
    font-size: 1rem;
    line-height: 1.1818181818;
    border-radius: 0.2rem;
  }

  .btn-square {
    width: calc(2.65rem + 2px);
    line-height: calc(2.65rem + 2px);
    font-size: 19px;
    padding: 0; }
  .btn-square .icon-search {
    vertical-align: middle; }
  .btn-square.btn-sm {
    width: calc(1.8125rem + 2px); }
  .btn-square.btn-lg {
    width: calc(2.875rem + 2px); }
  .border-white {
    border-color: #4c4c4e !important;
  }
}
